<ion-content [fullscreen]="true">
  <br /><br /><br />
  <ion-button routerLink="/private/proyectos">
    Volver a proyectos musicales</ion-button
  >

  <ion-segment value="concepto">
    <ion-segment-button value="concepto">
      <ion-label>Concepto</ion-label>
    </ion-segment-button>
    <ion-segment-button value="letras">
      <ion-label>Letras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pistas">
      <ion-label>Pistas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notas">
      <ion-label>Notas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="imagen">
      <ion-label>Imagen</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
