<ion-content [fullscreen]="true">
  <ion-button fill="clear" routerLink="/private/proyectos">
    <ion-icon name="arrow-back-outline"></ion-icon> Volver
  </ion-button>
  <h3>
    <ion-title> {{nombreProyecto}} </ion-title>
  </h3>

  <ion-segment
    [scrollable]="true"
    (ionChange)="change($any($event))"
    value="concepto"
  >
    <ion-segment-button value="concepto">
      <ion-label>Concepto</ion-label>
    </ion-segment-button>
    <ion-segment-button value="letras">
      <ion-label>Letras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pistas">
      <ion-label>Pistas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notas">
      <ion-label>Notas técnicas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="imagen">
      <ion-label>Imagen</ion-label>
    </ion-segment-button>
  </ion-segment>

  @if (selectedSegment === 'concepto') {
  <app-concepto></app-concepto>
  } @if (selectedSegment === 'letras') {
  <app-letras></app-letras>
  } @if (selectedSegment === 'pistas') {
  <app-pistas></app-pistas>
  } @if (selectedSegment === 'notas') {
  <app-notas></app-notas>
  } @if (selectedSegment === 'imagen') {
  <app-imagen></app-imagen>
  }
</ion-content>
