<ion-content class="ion-padding" [fullscreen]="true">
  <ion-note color="secondary" class="info-note">
    Recuerda tener desbloqueado la apertura de ventanas emergentes de tu
    navegador predeterminado
  </ion-note>

  <section class="download-section">
    <ion-title class="section-title">Descargar canciones de YouTube</ion-title>

    <form [formGroup]="form" (ngSubmit)="download()" class="download-form">
      <ion-input
        [clearInput]="true"
        label="Ingrese la URL"
        label-placement="floating"
        fill="outline"
        placeholder="Introduce la URL de YouTube para descargar a MP3"
        formControlName="url"
        class="input-field"
      ></ion-input>

      <ion-button
        shape="round"
        [disabled]="form.invalid"
        id="open-loading"
        type="submit"
        fill="solid"
        expand="full"
        class="submit-button"
      >
        Descargar de YouTube
      </ion-button>
    </form>
  </section>

  <!-- Sección de descarga de Spotify -->
  <section class="download-section">
    <ion-title class="section-title">Descargar canciones de Spotify</ion-title>

    <form
      [formGroup]="formSpty"
      (ngSubmit)="downloadSpoty()"
      class="download-form"
    >
      <ion-input
        [clearInput]="true"
        label="Ingrese la URL de Spotify"
        label-placement="floating"
        fill="outline"
        placeholder="Introduce la URL de Spotify"
        formControlName="urlSpoty"
        class="input-field"
      ></ion-input>

      <ion-button
        shape="round"
        [disabled]="formSpty.invalid"
        id="open-loading"
        type="submit"
        fill="solid"
        expand="full"
        class="submit-button"
      >
        Descargar de Spotify
      </ion-button>
    </form>
  </section>

  <!-- Spinner de carga -->
  @if(showSpinner()){
  <div class="spinner-container">
    <ion-spinner name="lines"></ion-spinner>
  </div>
  }
</ion-content>
