<br /><br />
<br />
<ion-content class="ion-padding" [fullscreen]="true">
  <ion-searchbar placeholder="Buscar contacto ..."></ion-searchbar>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Ana</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Aaron</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Armenia</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Bangladesh</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Belarus</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Belgium</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
