<ion-content class="ion-padding" [fullscreen]="true">
  <div class="profile-header">
    <ion-avatar>
      <img
        src="https://media.licdn.com/dms/image/D4D03AQGN90ecliStFA/profile-displayphoto-shrink_400_400/0/1719306107215?e=1726099200&v=beta&t=P4NBh2qE7m1vV7ZOq_xHbYYx852oZBpSBVRG3AeJN98"
        alt="Profile Picture"
      />
    </ion-avatar>
    <h2>{{ nombre }}</h2>
    <p>{{ email }}</p>
    <ion-button expand="block" (click)="editProfile()"
      >Editar perfil</ion-button
    >
  </div>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Configuraciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
