<ion-content class="ion-padding" [fullscreen]="true">
  <ion-note color="primary" class="info-note">
    Ve a Spotify, la cancion o la playlist que quieras y le das al icono
    <ion-icon name="ellipsis-vertical"></ion-icon> Recuerda tener desbloqueado
    la apertura de ventanas emergentes de tu navegador predeterminado
  </ion-note>

  <section class="download-section">
    <ion-title class="section-title">Descargar canción</ion-title>
    <form
      [formGroup]="formSpty"
      (ngSubmit)="downloadSong()"
      class="download-form"
    >
      <ion-input
        [clearInput]="true"
        label="Ingrese la URL de Spotify"
        label-placement="floating"
        fill="outline"
        placeholder="Introduce la URL de Spotify"
        formControlName="urlSpoty"
        class="input-field"
      ></ion-input>

      <ion-button
        shape="round"
        [disabled]="formSpty.invalid"
        type="submit"
        fill="solid"
        expand="full"
      >
        Descargar canción
      </ion-button>
    </form>

    <ion-title class="section-title">Descargar playlist</ion-title>
    <form
      [formGroup]="formPlaylist"
      (ngSubmit)="downloadPlaylist()"
      class="download-form"
    >
      <ion-input
        [clearInput]="true"
        label="Ingrese la URL de Spotify"
        label-placement="floating"
        fill="outline"
        placeholder="Introduce la URL de Spotify"
        formControlName="urlPlaylistSpoty"
        class="input-field"
      ></ion-input>

      <ion-button
        shape="round"
        [disabled]="formPlaylist.invalid"
        type="submit"
        fill="solid"
        expand="full"
      >
        Descargar playlist
      </ion-button>
    </form>
  </section>

  <!-- Spinner de carga -->
  @if(showSpinner()){
  <div class="spinner-container">
    <ion-spinner name="lines"></ion-spinner>
  </div>
  }
</ion-content>
